<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/deudoresasignados.js"></script>
    <title>Panel cobrador - Deudores asignados</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="panelcobrador.html" style="font-size: 25px;">Gestor de cobranza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="deudoresasignados.html">Deudores<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0" href="../index.html">Cerrar sesión</a>
          </form>
        </div>
      </nav>
      <div class="data-section">
        <table id="tabladeudores" class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre completo</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Número de contacto</th>
                <th scope="col">Deuda actual</th>
                <th scope="col">Detalles</th>
              </tr>
            </thead>
          </table>
      </div>
</body>
</html>